h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
   
}
body {
    text-align: center;
}
.main-header{
    font-size: 300%;
}
.color{
    color: blue;
}
.different-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130%;
}
.color1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blue{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}